<section id="sectionFooter">
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="ola ola1"></div>
  <div class="ola ola2"></div>
  <!-- <div class="wave wave4"></div> -->

  <!-- <img id="brandMuni" class="px-2" src="../Librerias/img/brand.png" alt="" width="530" style="z-index: 1000 !important; top: 30px; position: absolute;"> -->
  <!-- <img id="brandMuniResponsive" class="px-2" src="" alt="" width="500"
    style="z-index: 1000 !important; top: 30px; position: absolute;"> -->
</section>