@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .gridForm{
    /* background: #f6f6f6; */
    padding: 30px;
    /* border-radius: 5px; */
    margin-top: 00px;
    /* border: solid 1px #bebebe; */
  }

  .gridForm form{
    overflow-y: scroll !important;
    height: 60vh !important;
    max-height: 60vh !important;
  }

  .contentIcono{
    text-align: center !important;
    justify-content: center !important;
    margin-top: 10px;
    margin-bottom: -10px !important;
  }

  .IconoEvento{
    width: 200px;
    height: 90px;
    border-radius: 5px;
    /* margin-top: -30px; */
    /* margin-left: -50px; */
    /* box-shadow: 5px 5px 15px #949494 !important; */
  }

  * {
    font-size: 11px;
  }
  .styleRegistrarse {
    /* background: red !important; */
    overflow-y: scroll !important;
    height: 60vh !important;
    max-height: 60vh !important;
    /* background: red !important; */
  }

  .logoatcInicio {
    width: 70% !important;
    margin-top: 10px !important ;
    margin-bottom: 10px !important;
  }

  .subOscuro img {
    width: 100px;
    margin-right: 30px;
  }

  .disfrutaOscuro img {
    width: 65px;
    margin-top: -3px;
  }

  .azulPre img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .formularioDekstop{
    display: block;
  }

  .contentFormulario{
    display: none;
  }

  * {
    font-size: 15px;
  }

  .gridForm{
    background: #f6f6f6;
    padding: 30px;
    border-radius: 5px;
    margin-top: 60px;
    border: solid 1px #bebebe;
  }

  .IconoEvento{
    width: 200px;
    height: 90px;
    border-radius: 5px;
    position: absolute;
    margin-top: -30px;
    margin-left: -50px;
    box-shadow: 5px 5px 15px #949494 !important;
  }

  .contentFormulario {
    /* background: red !important; */
    overflow-y: scroll !important;
    height: 76vh !important;
    max-height: 76vh !important;
    /* background: red !important; */
  }

  .contentFormulario::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  .contentFormulario::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        /* color of the tracking area */
  }

  .contentFormulario::-webkit-scrollbar-thumb {
    background-color: #3aa08f;
    border-radius: 20px;
    border: 3px solid #106053;
  }

  .logoatcInicio {
    width: 56% !important;
    margin-top: 30px !important ;
    margin-bottom: 30px !important;
  }

  .subOscuro img {
    width: 280px;
    margin-right: 80px;
  }

  .disfrutaOscuro img {
    width: 165px;
  }

  .azulPre img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-top: 30px;
  }
}

.msjError {
  /* background: red !important; */
  padding: 1px;
  border-radius: 3px;
  color: #c92727;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3px;
}

.msjValid {
  padding: 1px;
  border-radius: 3px;
  color: #0d7e42;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3px;
}

.preCosquinColores {
  color: black;
  font-weight: bold !important;
}

.atodaCostaColores {
  color: black;
  font-weight: bold !important;
}

.evento3 {
  margin-top: 20px;
}
