<div class="container px-2">
  <h5 class="fw-bold text-center mb-3 mt-4">Seleccione el evento para ver las actividades</h5>

  <div class="px-3 mt-2">
    <a class="w-100 aOpcion" [routerLink]="['/registrarse', 1]">
      <h5 class="border fw-bold rounded shadow p-3 actMunicipales  mb-3">Actividades Generales</h5>
    </a>

    <a class="w-100 aOpcion" [routerLink]="['/registrarse', 2]">
      <h5 class="border fw-bold rounded shadow p-3 oktoberfest mb-3">OktoberFest</h5>
    </a>

    <!-- <a class="w-100 aOpcion" [routerLink]="['/registrarse', 3]">
            <h5 class="border fw-bold rounded shadow p-3 preCosquin  mb-3">Pre Cosquin 2025</h5>
        </a>

        <a class="w-100 aOpcion" [routerLink]="['/registrarse', 4]">
            <h5 class="border rounded shadow p-3 atodaCosta mb-3 fw-bold">A toda Costa</h5>
        </a> -->
  </div>
</div>